<template>
    <div class="login-page">
        <div class="login-box">
            <div class="login-logo">
                <router-link :to="{name:'login'}">
                    <b>Iniciar Sesión</b>
                </router-link>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                <p class="login-box-msg">Ingresa las credenciales para inicial sesión</p>

                <form method="post">
                    <div class="input-group mb-3">
                    <input type="email" class="form-control" @keyup.enter="login" v-model="fillLogin.cEmail" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    </div>
                    <div class="input-group mb-3">
                    <input type="password" class="form-control" @keyup.enter="login" v-model="fillLogin.cContrasena" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <span v-if="error">
                            <div v-for="(e,index) in mensajeError" :key="index" v-text="e" class="callout callout-danger"></div>
                        </span>
                    </div>
                </div>

                <div class="social-auth-links text-center mb-3">
                    <button class="btn btn-flat btn-block btn-success" @click.prevent="login" v-loading.fullscreen.lock="fullscreenloading">
                      Iniciar Sesion
                    </button>
                </div>

                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            error:0,
            mensajeError:[],
            fillLogin:{
                cEmail:'',
                cContrasena:''
            },
            fullscreenloading:false,
            listaPermisosByUser:[],
            listPermisosFilterByRolUser:[],
        }
    },
    methods: {
        login(){
            if(this.validarLogin()){
                return;
            }
            this.fullscreenloading = true;
            var url ="/authenticated/login";
            axios.post(url,{
                'cEmail':this.fillLogin.cEmail,
                'cContrasena':this.fillLogin.cContrasena
            }).then(response=>{
                if(response.data.code == 401){
                    this.loginFailed();
                }
                if(response.data.code == 200){
                    this.getListarRolPermisosByUser(response.data.authUser);
                    //this.filterListRolPermisosByUsuario();
                    //this.loginSucces();
                }
            })
            this.fullscreenloading = false;
        },

        validarLogin(){
            this.error =0;
            this.mensajeError = [];
            if(!this.fillLogin.cEmail){
                this.mensajeError.push("Debes ingresar un email");
            }
            if(!this.fillLogin.cContrasena){
                this.mensajeError.push("Debes ingresar la contraseña");
            }
            if(this.mensajeError.length){
                this.error =1;
            }
            return this.error;
        },

        loginFailed(){
            this.error =0;
            this.mensajeError = [];
            this.mensajeError.push("Estas credenciales no coinciden con nuestros registros");
            this.fillLogin.cContrasena ='';
            if(this.mensajeError.length){
                this.error =1;
            }
            return this.error;
        },
        loginSucces(){
            this.$router.push({name:'dashboard.index'});
            location.reload();
        },

        getListarRolPermisosByUser(authUser){
            let url = "/administracion/permiso/LisRolObtenerPermisosByUsuario/"+authUser.id;
            axios.get(url).then((response)=>{
                let Datos = response.data;
                this.listaPermisosByUser = Datos.permisos;
                this.filterListRolPermisosByUsuario(authUser);
            })
        },

        filterListRolPermisosByUsuario(authUser){
            let me = this;
            me.listaPermisosByUser.map(function(x,y){
                me.listPermisosFilterByRolUser.push(x.slug);
            })
            //console.log(me.listPermisosFilterByRolUser)
            //json.STRINGIFY convierte una cadena de string en un json para dalr esu uso
            sessionStorage.setItem('listPermisosFilterByRolUser',JSON.stringify(this.listPermisosFilterByRolUser));
            sessionStorage.setItem('authUser',JSON.stringify(authUser));
            this.loginSucces();
        },

    },
}
</script>