<template>
    <div>
        <div class="content-header">
            <div class="container-fluid">
                <div class="info-box">
                    <div class="error-page">
                        <h2 class="headline text-warning"> 404</h2>

                        <div class="error-content">
                            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Pagina no encontrada.</h3>

                            <p>
                                No pudimos encontrar la pagina que estabas buscando, mientras tanto puede navegar en las paginas que tiene disponible.
                            </p>
                        </div>
                        <!-- /.error-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>