<template>
    <div>
         <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <router-link :to="'/'" class="brand-link">
                <img :src="ruta+'/img/AdminLTELogo.png'" alt="Sistema Laravel & Vue" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Laravel&Vue</span>
            </router-link>   
            

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <template v-if="!usuario.file_id">
                        <div>
                            <img :src="ruta+'/img/avatar.png'" class="img-circle elevation-2" :alt="usuario.fullname">
                        </div>
                    </template>
                    <template>
                        <div>
                            <img :src="usuario.file.path" class="img-circle elevation-2" :alt="usuario.fullname">
                        </div>
                    </template>
                    <div class="info">
                        <router-link :to="{name:'perfil',params:{id:usuario.id}}" :usuario="usuario" class="d-block">
                            {{usuario.fullname}}
                        </router-link>
                    </div>
                </div>
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <a class="info" @click.prevent="logout()" href="#" v-loading.fullscreen.lock="fullscreenloading">
                        <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
                    </a>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                         <template v-if="listPermisos.includes('dashboard.index')">
                             <div>
                                <router-link :to="'/'" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </router-link>
                            </div>
                        </template>
                            
                            
                        <template v-if="listPermisos.includes('pedido.index')">
                            <li class="nav-header">OPERACIONES</li>
                            <li class="nav-item">
                                <template v-if="listPermisos.includes('pedido.index')">
                                    <div>
                                        <router-link :to="'/pedido'" class="nav-link">
                                            <i class="nav-icon fas fa-cash-register"></i>
                                            <p>
                                                Pedidos
                                                <span class="badge badge-info right">2</span>
                                            </p>
                                        </router-link>
                                    </div>
                                </template>
                            </li>
                        </template>

                        <template v-if="listPermisos.includes('cliente.index')">
                            <li class="nav-item">
                                <template v-if="listPermisos.includes('cliente.index')">
                                    <div>
                                        <router-link :to="'/cliente'" class="nav-link">
                                            <i class="nav-icon fas fa-user-friends"></i>
                                            <p>
                                                Clientes
                                            </p>
                                        </router-link>
                                    </div>
                                </template>
                            </li>
                        </template>

                        <template v-if="listPermisos.includes('categoria.index','producto.index')">
                            <li class="nav-header">CONFIGURACION</li>
                            <li class="nav-item">
                                <template v-if="listPermisos.includes('categoria.index')">
                                    <div>
                                        <router-link :to="'/categoria'" class="nav-link">
                                            <i class="nav-icon fas fa-file"></i>
                                            <p>Categorias</p>
                                        </router-link>
                                    </div>
                                </template>
                            </li>
                            
                            <li class="nav-item">
                                <template v-if="listPermisos.includes('producto.index')">
                                    <div>
                                        <router-link :to="'/producto'" class="nav-link">
                                            <i class="nav-icon fas fa-apple-alt"></i>
                                            <p>Productos</p>
                                        </router-link>
                                    </div>
                                </template>
                            </li>
                        </template>

                    
                        <template v-if="listPermisos.includes('usuario.index','roles.index','permiso.index')">
                            <li class="nav-header">ADMINISTRACION</li>

                            <li class="nav-item">
                                <template v-if="listPermisos.includes('usuario.index')">
                                    <div>
                                        <router-link :to="'/usuario'" class="nav-link">
                                            <i class="nav-icon fas fa-users"></i>
                                            <p>Usuarios</p>
                                        </router-link>
                                    </div>
                                </template>
                            </li>

                            <li class="nav-item">
                                <template v-if="listPermisos.includes('roles.index')">
                                    <div>
                                        <router-link :to="'/roles'" class="nav-link">
                                            <i class="nav-icon fas fa-users"></i>
                                            <p>Roles</p>
                                        </router-link>
                                    </div>
                                </template>
                            </li>
                            
                            <li class="nav-item">
                                <template v-if="listPermisos.includes('permiso.index')">
                                    <div>
                                        <router-link :to="'/permiso'" class="nav-link">
                                            <i class="nav-icon fas fa-key"></i>
                                            <p>Permisos</p>
                                        </router-link>
                                    </div>
                                </template>
                            </li>
                        </template>
                        <li class="nav-header">REPORTES</li>
                        <li class="nav-item">
                            <template v-if="listPermisos.includes('reportes.index')">
                                <div>
                                    <router-link :to="'/reporte'" class="nav-link">
                                        <i class="nav-icon fas fa-file-export"></i>
                                        <p>Pedidos</p>
                                    </router-link>
                                </div>
                            </template>
                        </li>

                        
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

    </div>
</template>
<script>
export default {
    props: ['ruta', 'usuario','listPermisos' ],
    data() {
        return {
            fullscreenloading:false,
            rutas:''
        }
    },
    methods: {
        logout(){
            let url = "/authenticated/logout";
            this.fullscreenloading=true;
            axios.post(url).then(response =>{
                if(response.data.code == 204){
                    this.$router.push({name:'login'});
                    location.reload();
                    this.fullscreenloading =false
                }
            });
        }
    },
    mounted() {
        this.rutas = this.ruta
    },
}
</script>