<template>
  <div>
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Usuarios</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Usuarios</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- Final /.row -->
      </div>
    </div>
    <div class="content container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="card-tools">
            <button class="btn btn-info btn-sm" @click.prevent="abrirModal(0)" data-toggle="modal">
              <i class="fas fa-plus-square"></i> Nuevo Usuario
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Criterios de Busqueda</h3>
              </div>
              <div class="card-info">
                <div class="card-body">
                  <form role="form">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Nombre</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" v-model="filtUsuario.cNombre" @keyup.enter="getListUsuarios()"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Usuario</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" v-model="filtUsuario.cUsuario" @keyup.enter="getListUsuarios()"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Email</label>
                          <div class="col-md-9">
                            <input type="email" class="form-control" v-model="filtUsuario.cCorreo" @keyup.enter="getListUsuarios()"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Estado</label>
                          <div class="col-md-9">
                            <el-select v-model="filtUsuario.cEstado" placeholder="Seleccione un estado" clearable @keyup.enter="getListUsuarios()">
                              <el-option v-for="item in listEstados" :key="item.value" :label="item.label" :value="item.value">
                              </el-option>
                            </el-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md4 offset-4">
                    <button class="btn btn-flat btn-info" @click.prevent="getListUsuarios()" v-loading.fullscreen.lock="fullscreenLoading">
                      Buscar
                    </button>
                    <button class="btn btn-flat btn-default" @click.prevent="LimpiarFiltro()">
                      Limpiar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-info">
              <div class="card-body">
                <div class="card-header">
                  <h3 class="card-title">Bandeja Resultados</h3>
                  <div class="card-body table-responsive">
                    <template v-if="listarUserPaginate.length <= 0">
                      <div class="callout callout-info">
                        <h5>Sin Resultados</h5>
                      </div>
                    </template>
                    <table
                      class="table table-hover table-head-fixed text-nowrap projects"
                      v-else
                    >
                      <thead>
                        <tr>
                          <th>Foto</th>
                          <th>Nombre</th>
                          <th>Correo</th>
                          <th>Usuario</th>
                          <th>Estado</th>
                          <th>Operaciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(user) in listarUserPaginate" :key="user.id">
                          <td v-if="user.Imagen == null">
                            <img  src="/img/avatar.png"  alt="user.username" class="img-circle elevation-2" style="width:50px"/>
                          </td>
                          <td v-else>
                            <img  :src="user.Imagen"  alt="user.username" class="img-circle elevation-2" style="width:50px"/>
                          </td>
                          <td v-text="user.fullname"></td>
                          <td v-text="user.email"></td>
                          <td v-text="user.username"></td>
                          <td>
                            <div v-if="user.state == 0">
                              <span class="badge badge-danger">Inactivo</span>
                            </div>
                            <div v-else>
                              <span class="badge badge-success">Activo</span>
                            </div>
                          </td>
                          <td>
                            <button class="btn btn-primary btn-sm"  @click="abrirModal(3,user)">
                              <i class="fas fa-eye"> </i> Ver
                            </button>
                            <button class="btn btn-info btn-sm" @click="abrirModal(1,user)">
                              <i class="fas fa-pencil-alt"> </i>Editar
                            </button>
                            <router-link :to="{name:'usuario.permiso',params:{id:user.id}}"  class="btn btn-success btn-sm">
                                <i class="fas fa-key"> </i> Permiso
                            </router-link>
                            <template v-if="user.state == 0">
                              <button class="btn btn-success btn-sm" @click="OpcionActivar(1,user)">
                                <i class="fas fa-check"> </i>Activar
                              </button>
                            </template>
                            <template v-else>
                              <button class="btn btn-danger btn-sm" @click="OpcionActivar(0,user)">
                                <i class="fas fa-times-circle"> </i>Inactivar
                              </button>
                            </template>
                            <router-link :to="{name:'perfil',params:{id:user.id}}"  class="btn btn-info btn-sm">
                                <i class="fas fa-eye"> </i> Perfil
                            </router-link>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="card-footer clearfix">
                      <ul class="pagination pagination-sm m-0 float-rigth">
                        <li class="page-item" v-if="this.pageNumber > 0">
                          <a href="#" class="page-link" @click.prevent="pagePrev()" >Ant</a>
                        </li>

                        <li class="page-item" v-for="(page, index) in pagesList" :key="index" :class="page == pageNumber ? 'active' : ''">
                          <a href="#" class="page-link" @click.prevent="selectPage(page)">{{ page + 1 }}</a>
                        </li>

                        <li class="page-item" v-if="pageNumber < pageCount - 1">
                          <a href="#" class="page-link" @click.prevent="nextPage()">Sig</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="modal fade"  :class="modal == true ? 'mostrar-modal':''" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <div class="modal fade" :class="{ show: showModal }" :style="showModal ? mostrarModal : ocultarModal" aria-hidden="true">
      <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="callout callout-danger" v-for="(errorm, index) in mensajeError" :key="index" v-text="errorm" style="padding: 5px"
        ></div>
        <div class="modal-content">
          <div class="modal-header bg-info">
            <h5 class="modal-title" v-text="tituloModal"></h5>
            <button type="button" class="close" @click.prevent="cerrarModal()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">Primer Nombre:</label>
                <div class="col-md-9">
                  <input type="text"  class="form-control" v-model="fillCrearUsuario.cPrimernombre" placeholder="Primer Nombre " :disabled="accionModal==3?true:false"/>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input" >Segundo Nombre:</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="fillCrearUsuario.cSegundoNombre"  placeholder="Segundo Nombre" :disabled="accionModal==3?true:false"/>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">Apellidos:</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="fillCrearUsuario.cApellidos" placeholder="Apellidos" :disabled="accionModal==3?true:false"/>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">Nombre Usuario:</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="fillCrearUsuario.cUsuario" placeholder="Usuario" :disabled="accionModal==3?true:false"/>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">Email :</label>
                <div class="col-md-9">
                  <input  type="email" v-model="fillCrearUsuario.cCorreo" class="form-control" placeholder="Email" :disabled="accionModal==3?true:false"/>
                </div>
              </div>

              <div class="form-group row" v-if="accionModal != 3">
                <label class="col-md-3 form-control-label" for="text-input">Contraseña:</label>
                <div class="col-md-9">
                  <el-input placeholder="Ingrese Contraseña" v-model="fillCrearUsuario.cContrasena"  show-password></el-input>
                </div>
              </div>

              <div class="form-group row" v-if="accionModal != 3">
                <label class="col-md-3 form-control-label" for="text-input">Rol:</label>
                <div class="col-md-9">
                  <el-select  v-model="fillCrearUsuario.nIdRol" placeholder="Seleccione un Rol" clearable>
                    <el-option
                        v-for="item in listRoles"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                    </el-option>
                  </el-select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">Foto :</label>
                <div class="col-md-9">
                  <input type="file" id="btn-file" class="form-control" @change="getFile" v-if="accionModal != 3" />
                  <img :src="fillCrearUsuario.cImagen" class="img-circle elevation-2 img-avatars" alt="">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click.prevent="cerrarModal()"> Cerrar</button>
            <button type="button" v-if="accionModal == 0" class="btn btn-success" v-loading.fullscreen.lock="fullscreenLoading" @click.prevent="registraUsuario()">
              Crear
            </button>
            <button type="button" v-if="accionModal == 1" class="btn btn-primary" @click.prevent="ValidarActualizacion()">
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Swal from 'sweetalert2'
export default {
  data() {
    return {
      modal: 0,
      filtUsuario: {
        cNombre: "",
        cUsuario: "",
        cCorreo: "",
        cEstado: "",
      },
      listUsuarios: [],
      listEstados: [
        { value: 1, label: "Activo" },
        { value: 0, label: "Inactivo" },
      ],
      pageNumber: 0,
      perPage: 5,
      tituloModal: "",
      accionModal: 0,

      fillCrearUsuario: {
        nId:0,
        cPrimernombre: "",
        cSegundoNombre: "",
        cApellidos: "",
        cUsuario: "",
        cCorreo: "",
        cContrasena: "",
        nIdRol:'',
        cImagen: "",
      },
      mostrarModal: {
        display: "block",
        background: "#0000006b",
      },
      ocultarModal: {
        display: "none",
      },
      error: 0,
      mensajeError: [],
      showModal: false,
      Form: new FormData(),
      fullscreenLoading: false,
      listRoles:[],
    };
  },

  computed: {
    //Obtener el numero de las paginas
    pageCount() {
      let a = this.listUsuarios.length;
      let b = this.perPage;
      return Math.ceil(a / b);
    },
    //Obtener Registros paginados
    listarUserPaginate() {
      //0 * 5 =0 inicio
      //1 + 5 = 5 fin
      //0 - (5-1) slice desde hasta

      //1 * 5 = 5 inicio
      //5 + 5 = 10 fin
      //5 - (10-1) slice desde hasta

      let inicio = this.pageNumber * this.perPage;
      let fin = inicio + this.perPage;
      return this.listUsuarios.slice(inicio, fin);
    },
    pagesList() {
      let a = this.listUsuarios.length;
      let b = this.perPage;
      let PageCoun = Math.ceil(a / b);
      let count = 0;
      let PagesArray = [];
      while (count < PageCoun) {
        PagesArray.push(count);
        count++;
      }
      return PagesArray;
    },
  },

  methods: {
    LimpiarFiltro() {
      this.filtUsuario.cNombre = "";
      (this.filtUsuario.cUsuario = ""),
        (this.filtUsuario.cCorreo = ""),
        (this.filtUsuario.cEstado = "");
    },

    LimpiarUsuarios() {
      this.listUsuarios = [];
    },

    getListUsuarios() {
      this.fullscreenLoading = true;
      let url = "/administracion/usuario/getListUsuario";
      axios
        .get(url, {
          params: {
            cNombre: this.filtUsuario.cNombre,
            cUsuario: this.filtUsuario.cUsuario,
            cCorreo: this.filtUsuario.cCorreo,
            cEstado: this.filtUsuario.cEstado,
          },
        })
        .then((response) => {
          this.inicializarPagination();
          let UserResponse = response.data.usuarios;
          this.listUsuarios = UserResponse;
          this.fullscreenLoading = false;
        });
        
    },

    nextPage() {
      this.pageNumber++;
    },

    pagePrev() {
      this.pageNumber--;
    },

    selectPage(page) {
      this.pageNumber = page;
    },

    inicializarPagination() {
      this.pageNumber = 0;
    },

    validarRegistro() {
      this.error = true;
      this.mensajeError = [];
      let Datos = this.fillCrearUsuario;

      if (!Datos.cPrimernombre) {
        this.mensajeError.push("El campo primer nombre es obligatorio");
      }

      if (!Datos.cApellidos) {
        this.mensajeError.push("El apellido es obligatorio");
      }

      if (!Datos.cUsuario) {
        this.mensajeError.push("El usuario es obligatorio");
      }

      if (!Datos.cCorreo) {
        this.mensajeError.push("El correo es obligatorio");
      }

      if (!Datos.cContrasena && this.accionModal ==0) {
        this.mensajeError.push("La contraseña es obligatorio");
      }

      if (!Datos.nIdRol) {
        this.mensajeError.push("El rol es obligatorio");
      }

      if (this.mensajeError.length) {
        this.error = false;
      }
      return this.error;
    },

    abrirModal(op,data=[]) {
      this.showModal = true;
      if (op == 0) {
        this.tituloModal = "Crear Nuevo Usuario";
      }
      if (op == 1) {
        this.tituloModal = "Actualizar Usuario";
        this.accionModal=1;
        this.obtenerUsuario(data.id);
        this.getRolByUser(data.id);
      }

      if (op == 3) {
        this.tituloModal = "Perfil del Usuario "+data.fullname;
        this.accionModal=3;
        this.obtenerUsuario(data.id);
      }

      this.modal = 1;
    },

    cerrarModal() {
      this.modal = 0;
      this.showModal = false;
      this.mensajeError = [];
      this.tituloModal = "";
      this.limpiarFormCrearUsuario();
    },

    limpiarFormCrearUsuario(){
      this.fillCrearUsuario.nId = 0;
      this.fillCrearUsuario.cNombre= "";
      this.fillCrearUsuario.cPrimernombre= "";
      this.fillCrearUsuario.cSegundoNombre= "";
      this.fillCrearUsuario.cApellidos= "";
      this.fillCrearUsuario.cUsuario= "";
      this.fillCrearUsuario.cCorreo= "";
      this.fillCrearUsuario.cContrasena= "";
      this.fillCrearUsuario.cImagen= "";
      this.fillCrearUsuario.nIdRol= "";
    },

    registraUsuario() {
      if (!this.validarRegistro()) {
        if (
          this.fillCrearUsuario.cImagen != "" &&
          this.fillCrearUsuario.cImagen != "undefined"
        ) {
          this.registrarArchivo();
        } else {
          this.guardarUsuario();
        }
      }
    },

    guardarUsuario(IdImg) {
      let url = "/administracion/usuario/registrar";
      axios
        .post(url, {
          cNombre: this.fillCrearUsuario.cPrimernombre,
          cSegundoNombre: this.fillCrearUsuario.cSegundoNombre,
          cApellidos: this.fillCrearUsuario.cApellidos,
          cUsuario: this.fillCrearUsuario.cUsuario,
          cCorreo: this.fillCrearUsuario.cCorreo,
          cContrasena: this.fillCrearUsuario.cContrasena,
          cImagen: IdImg,
        })
        .then((response) => {
          this.setEditarRolByUsuario(response.data.nIdUsuario);
          this.getListUsuarios();
        });
    },
    setEditarRolByUsuario(idUsr){
      let url = "/administracion/usuario/registrarRolByUsuario";
      axios
        .post(url, {
          nIdUsuario: idUsr,
          nIdRol: this.fillCrearUsuario.nIdRol,
        })
        .then((response) => {
          this.getListUsuarios();
        });
    },

    obtenerUsuario(id){
      //console.log(id)
      let url = "/administracion/usuario/getUsuario/"+id;
      axios.get(url).then((response) => {
          //this.getListUsuarios();
          let User = response.data.usuario[0];
          this.fillCrearUsuario.nId = User.id;
          this.fillCrearUsuario.cPrimernombre = User.Nombre;
          this.fillCrearUsuario.cSegundoNombre = User.SegNombre;
          this.fillCrearUsuario.cApellidos = User.Apellidos;
          this.fillCrearUsuario.cUsuario = User.Usuario;
          this.fillCrearUsuario.cCorreo = User.Email;
          this.fillCrearUsuario.cImagen = User.Imagen;
        });
    },

    registrarArchivo() {
      console.log("entro");
      this.Form.append("file", this.fillCrearUsuario.cImagen);
      console.log(this.Form);
      const config = { headers: { "Content-Type": "multipart/form-data" } };
      var url = "/archivo/registrarArchivo";
      axios.post(url, this.Form, config).then((response) => {
        var IdImg = response.data[0].nIdFile;
        this.guardarUsuario(IdImg);
        this.cerrarModal();
      });
    },

    actualizarArchivo() {
      if(document.getElementById("btn-file").value !=''){
        this.Form.append("file", this.fillCrearUsuario.cImagen);
        const config = { headers: { "Content-Type": "multipart/form-data" } };
        var url = "/archivo/registrarArchivo";
        axios.post(url, this.Form, config).then((response) => {
          var IdImg = response.data[0].nIdFile;
          this.ActualizarUsuario(IdImg);
          this.cerrarModal();
        }); 
      }
      else{
        this.ActualizarUsuario();
      }
    },

    ValidarActualizacion(){
      if(this.validarRegistro()){
        this.actualizarArchivo();
      }
    },

    ActualizarUsuario(IdImg ='') {
      let url = "/administracion/usuario/actualizar";
      axios.put(url, {
        nId : this.fillCrearUsuario.nId,
        cNombre: this.fillCrearUsuario.cPrimernombre,
        cSegundoNombre: this.fillCrearUsuario.cSegundoNombre,
        cApellidos: this.fillCrearUsuario.cApellidos,
        cUsuario: this.fillCrearUsuario.cUsuario,
        cCorreo: this.fillCrearUsuario.cCorreo,
        cContrasena: this.fillCrearUsuario.cContrasena,
        cImagen: IdImg
      })
      .then((response) => {
        this.setEditarRolByUsuario(this.fillCrearUsuario.nId);
        this.cerrarModal();
      })
    },

    getFile(e) {
      this.fillCrearUsuario.cImagen = e.target.files[0];
    },

    OpcionActivar(Op,User){
      if(Op == 0){
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
              confirmButton: 'btn btn-danger',
              denyButton: 'btn btn-warning'
          },
          buttonsStyling: false
        })
        swalWithBootstrapButtons.fire({
          title: 'Estas seguro de inactivar a '+User.fullname+' ?',
          showDenyButton: true,
          confirmButtonText: `Inactivar`,
          denyButtonText: `Cancelar`,
        }).then((result) => {
          if(result.isConfirmed){
            let url = "/administracion/usuario/inactivar";
            axios.put(url,{
              id:User.id
            }).then((response) =>{
              this.getListUsuarios();
            })
          }else if (result.isDenied) {
            Swal.fire('Transacción cancelada', '', 'warning')
          }
        })
      }
      if(Op == 1){
         const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
                confirmButton: 'btn btn-success',
                denyButton: 'btn btn-warning'
            },
            buttonsStyling: false
          })
          swalWithBootstrapButtons.fire({
            title: 'Estas seguro de activar a '+User.fullname+' ?',
            showDenyButton: true,
            confirmButtonText: `Activar`,
            denyButtonText: `Cancelar`,
          }).then((result) => {
            if(result.isConfirmed){
              let url = "/administracion/usuario/activar";
              axios.put(url,{
                id:User.id
              }).then((response) =>{
                this.getListUsuarios();
              })
            }else if (result.isDenied) {
              Swal.fire('Transacción cancelada', '', 'warning')
            }
        })
      }
    },

    getListRoles() {
      let url = "/administracion/roles/getListRoles";
      axios
        .get(url, {
          params: {
            'cNombre': '',
            'cUrl': '',
          },
        })
        .then((response) => {
          this.inicializarPagination();
          let RolesResponse = response.data.roles;
          this.listRoles = RolesResponse;
        });
        
    },

    getRolByUser(Id){
      let url = "/administracion/roles/ObtenerRolByUsuario/"+Id;
      console.log(Id);
      axios.get(url).then((response)=>{
        if(response.data.rol.length >0){
          this.fillCrearUsuario.nIdRol = response.data.rol[0].id;
        }
      })
    }

  },

  mounted() {
    this.getListUsuarios();
    this.getListRoles();
  },
};
</script>