<template>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       :src="ImagenProfile"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center" v-text="nombreCompleto"></h3>

                <p class="text-muted text-center" v-text="NmRolActual"></p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Sobre Mi</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Nombre Completo</strong>

                <p class="text-muted" v-text="nombreCompleto">
                
                </p>

                <hr>

                <strong><i class="fas fa-envelope-open-text"></i> Correo </strong>

                <p class="text-muted" v-text="this.fillUsuario.cCorreo"></p>

                <hr>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Configuración</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="settings">
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                          <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Primer Nombre:</label>
                            <div class="col-md-9">
                              <input type="text"  class="form-control" v-model="fillUsuario.cPrimernombre" placeholder="Primer Nombre "/>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input" >Segundo Nombre:</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" v-model="fillUsuario.cSegundoNombre"  placeholder="Segundo Nombre"/>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Apellidos:</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" v-model="fillUsuario.cApellidos" placeholder="Apellidos"/>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Nombre Usuario:</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" v-model="fillUsuario.cUsuario" placeholder="Usuario"/>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Email :</label>
                            <div class="col-md-9">
                              <input  type="email" v-model="fillUsuario.cCorreo" class="form-control" placeholder="Email"/>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Contraseña:</label>
                            <div class="col-md-9">
                              <el-input placeholder="Ingrese Contraseña" v-model="fillUsuario.cContrasena"  show-password></el-input>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Foto :</label>
                            <div class="col-md-9">
                              <input type="file" id="btn-file" class="form-control" @change="getFile"/>
                            </div>
                          </div>
                          <div class="form-group row">
                            <button type="button" class="btn btn-primary" @click.prevent="ValidarActualizacion()">
                              Actualizar
                            </button>
                          </div>
                        </form>
                      </div>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    <!-- /.content -->
</template>
<script>
import Swal from 'sweetalert2'
export default {
    data() {
        return {
            fillUsuario: {
              nId:0,
              cPrimernombre: "",
              cSegundoNombre: "",
              cApellidos: "",
              cUsuario: "",
              cCorreo: "",
              cContrasena: "",
              cImagen: "",
          },
          ImagenProfile:'',
          error: 0,
          mensajeError: [],
          Form: new FormData(),
          cImagenActual : '',
          NmRolActual :'',
        }
    },
    computed:{
      nombreCompleto:function(){
        return this.fillUsuario.cPrimernombre+' '+ this.fillUsuario.cSegundoNombre+' '+this.fillUsuario.cApellidos
      }
    },
    methods: {
        obtenerUsuario(id){
        //console.log(id)
        let url = "/administracion/usuario/getUsuario/"+id;
        axios.get(url).then((response) => {
            let User = response.data.usuario[0];
            this.fillUsuario.nId = User.id;
            this.fillUsuario.cPrimernombre = User.Nombre;
            this.fillUsuario.cSegundoNombre = User.SegNombre;
            this.fillUsuario.cApellidos = User.Apellidos;
            this.fillUsuario.cUsuario = User.Usuario;
            this.fillUsuario.cCorreo = User.Email;
            this.fillUsuario.cImagen = User.Imagen;
            this.ImagenProfile =User.Imagen;
            this.ObtenerImagenActual(User.Imagen);
            });
        },

        ObtenerImagenActual(ImagenAct){
           ImagenAct = ImagenAct.split('/');
           this.cImagenActual = (ImagenAct[ImagenAct.length - 1]);
        },
        
        getFile(e) {
          this.fillUsuario.cImagen = e.target.files[0];
        },

        ValidarActualizacion(){
          if(this.validarRegistro()){
            this.actualizarArchivo();
          }
        },

        validarRegistro() {
          this.error = true;
          this.mensajeError = [];
          let Datos = this.fillUsuario;

          if (!Datos.cPrimernombre) {
            this.mensajeError.push("El campo primer nombre es obligatorio");
          }

          if (!Datos.cApellidos) {
            this.mensajeError.push("El apellido es obligatorio");
          }

          if (!Datos.cUsuario) {
            this.mensajeError.push("El usuario es obligatorio");
          }

          if (!Datos.cCorreo) {
            this.mensajeError.push("El correo es obligatorio");
          }

          if (this.mensajeError.length) {
            this.error = false;
          }
          return this.error;
        },

        actualizarArchivo() {
          if(document.getElementById("btn-file").value !=''){
            this.Form.append("file", this.fillUsuario.cImagen);
            const config = { headers: { "Content-Type": "multipart/form-data" } };
            var url = "/archivo/registrarArchivo";
            axios.post(url, this.Form, config).then((response) => {
              this.EliminarImagenAnterior();
              var IdImg = response.data[0].nIdFile;
              this.ActualizarUsuario(IdImg);
              this.obtenerUsuario(this.fillUsuario.nId);
            }); 
          }
          else{
            this.ActualizarUsuario();
          }
        },

        EliminarImagenAnterior(){
            let NmImagen = this.cImagenActual;
            if(this.cImagenActual !=''){
                axios.post('/archivo/eliminarImagenPerfil', {cImagen:NmImagen}).then((response) => {
                console.log(response.data)
                }); 
            }
        },

        ActualizarUsuario(IdImg ='') {
          let url = "/administracion/usuario/actualizar";
          axios.put(url, {
            nId : this.fillUsuario.nId,
            cNombre: this.fillUsuario.cPrimernombre,
            cSegundoNombre: this.fillUsuario.cSegundoNombre,
            cApellidos: this.fillUsuario.cApellidos,
            cUsuario: this.fillUsuario.cUsuario,
            cCorreo: this.fillUsuario.cCorreo,
            cContrasena: this.fillUsuario.cContrasena,
            cImagen: IdImg
          })
          .then((response) => {
              this.getRefrescarUsuarioAutentificado();
              Swal.fire({
              position: 'top-center',
              icon: 'success',
              title: 'Usuario Actualizado',
              showConfirmButton: false,
              timer: 1500
            })
          })
        },

        getRefrescarUsuarioAutentificado(){
            let url = "/authenticated/getRefrescarUsaurioAutentificado";
            axios.get(url).then((response)=>{
                EventBus.$emit('verrifyAutenticathedUser',response.data)
            })
        },

        getRolByUser(Id){
            let url = "/administracion/roles/ObtenerRolByUsuario/"+Id;
            console.log(Id);
            axios.get(url).then((response)=>{
                if(response.data.rol.length >0){
                    this.NmRolActual= response.data.rol[0].name;
                }
            })
        }
    },
    mounted() {
        console.log(this.$attrs.id);
        this.obtenerUsuario(this.$attrs.id);
        this.getRolByUser(this.$attrs.id)
    },
}
</script>